.question-article{
    border-radius: 5px;
    box-shadow: var(--primary-box-shadow);
    background-color: var(--primary-button-color);
    padding: 15px;
    margin: 5px;
    inline-size: 250px;
    color: var(--primary-text-color);
    width: 250px;
    height: 250px;
}