.single-cocktail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px;
}

.single-cocktail img{
    width: 300px;
    height: 300px;
    box-shadow: var(--primary-box-shadow);
}

.single-cocktail h3{
    align-self: flex-start;
    text-shadow: var(--primary-box-shadow);
    background-color: var(--primary-button-color);
    color: var(--primary-text-color);
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
}

.single-cocktail a{
    align-self: flex-start;
    font-size: 30px;
    color: var(--primary-button-color);
}