.single-cocktail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px;
}

.single-cocktail img{
    width: 300px;
    height: 300px;
    box-shadow: var(--primary-box-shadow);
}

.single-cocktail p{
    text-shadow: var(--primary-box-shadow);
    background-color: var(--primary-button-color);
    color: var(--primary-text-color);
    border-radius: 25px;
    padding: 3px 6px 3px 6px;
    margin: 5px;
}

.single-cocktail a:visited{
    color: var(--primary-button-color)
}
.single-cocktail-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 22px;
    color: var(--primary-button-color);
}
