:root{
    --random-button-size: 20px;
}
.randomize-button{
    background-color: var(--primary-button-color);
    border-radius: 25px;
    padding: 3px 20px 3px 20px;
    color: var(--primary-text-color);
    font-size: var(--random-button-size);
    margin: 10px 5px 10px 15px;
    align-self: center;
}

.random-cocktail-button{
    margin: 10px 5px 10px 15px;
    font-size: var(--random-button-size);
    align-self: center;
    border-radius: 25px;
    background-color: var(--primary-button-color);
    padding: 5px 0 5px 0;
}
.random-cocktail-button a{
    padding: 0 20px 0 20px;

}
.svg-inline--fa{
    padding: 0 8px 0 0;
}
.random-cocktail-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px;
}
.random-cocktail-section img{
    width: 300px;
    height: 300px;
}