.faq-page-styling {
    background-color: var(--primary-background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#faq-title{
    align-self: flex-start;
    margin-top: 50px;
}

.faq-page-styling h1 {
    text-decoration: underline;
}

.question-section {
    display: grid;
    grid-template-columns: 300px 300px 300px;
}