.home-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nemo-title{
    font-size: 48px;
    color: white;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.14em;
    inline-size: 500px;
    overflow-wrap: break-word;
    margin-top: 75px;
}
