.register-page-styling {
    background-color: var(--primary-background-color);
}

.register-form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-form-section form {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-button-color);
    padding: 30px;
    border-radius: 25px;
    color: var(--primary-text-color);
}

.register-form-section input {
    border: solid 3px transparent;
    border-radius: 10px;
    background-color: vaR(--primary-background-color);
    padding: 5px;
}

.register-form-section button {
    margin: 10px;
    border: solid 3px;
    border-color: var(--primary-background-color);
    border-radius: 10px;
    color: var(--primary-text-color);
}

.register-form-section button:disabled {
    position: absolute;
    left: -9999px;
}

.registration-help {
    border: solid black;
    color: black;
    margin: 3px;
    padding: 8px;
    border-radius: 25px;
    inline-size: 200px;
    text-wrap: normal;
    background-color: var(--primary-background-color);
}

.register-succes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-succes #login-link {
    background-color: var(--primary-button-color);
    font-size: 24px;
    border-radius: 25px;
    padding: 8px;
    margin-bottom: 5px;
    color: var(--primary-text-color);
}

.invisible {
    position: absolute;
    left: -9999px;
}

.hidden {
    display: none;
}

.valid {
    color: green;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

#login-link {
    color: black;
}