:root{
    --navbar-background-color: rgba(238, 221, 191, 0.25);
    --primary-text-color: #FFFFFF;
    --navbar-button-color: rgba(0, 71, 85, 0.75);
}
.navigation-bar{
    background-color: var(--navbar-background-color);
    max-height: 90px;
    position: relative;
}

.navigation-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navigation-item{
    margin: 5px 30px 5px 30px;
    padding: 5px 25px 5px 25px;
    font-size: 24px;
    border-radius: 25px;
    background: var(--navbar-button-color);
    color: var(--primary-text-color);
}

.cocktail-logo{
    width: 60px;
    height: 80px;
}
#cocktail-logo{
    background: none;
}

.logreg-button{
    position: absolute;
    top: 90px;
    right: 0;
    background: var(--navbar-button-color);
    border-radius: 0 0 0 25px;
    padding: 10px;
    color: var(--primary-text-color);
    font-size: 20px;
    inline-size: 110px;
    overflow-wrap: break-word;
}